<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Products</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>All Products</h1>

<!-- Product Ekle butonu -->
<a href="/api/products/create" class="btn btn-primary">Add Product</a>
<table>

    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.getCategoryName()}"></td>
        <td>
            <!-- Update Product butonu -->
            <a th:href="@{/api/products/update/{id}(id=${product.id})}" class="btn btn-primary">Update Product</a>
        </td>
        <td>
            <!-- Delete Product butonu -->
            <form th:action="@{/api/products/delete/{id}(id=${product.id})}" method="post">
                <input type="submit" value="Delete Product">
            </form>
        </td>
    </tr>
</table>
</body>
</html>