<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Order Status</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>Update Order Status</h2>
<form action="#" th:action="@{/api/orders/updateOrderStatus/{id}(id=${id})}" th:object="${order}" method="post">
    <label for="status">Status:</label><br>
    <select id="status" th:field="*{status}">
        <option value="PENDING">PENDING</option>
        <option value="PAID">PAID</option>
        <option value="SHIPPED">SHIPPED</option>
        <option value="DELIVERED">DELIVERED</option>
        <option value="CANCELED">CANCELED</option>
    </select><br>
    <input type="submit" value="Update">
</form>
</body>
</html>