<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>User Orders</h2>

<!-- Sipariş listesi -->
<table>
    <thead>
    <tr>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Total Price</th>
        <th>Payment Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderDate}">Order Date</td>
        <td th:text="${order.status}">Status</td>
        <td th:text="${order.getTotalPrice()}">Total Price</td>
        <td th:text="${order.paymentType}">Payment Type</td>
    </tr>
    </tbody>
</table>
</body>
</html>